# This workflow will test pull request on different platforms

name: Build PR
on: [pull_request]

jobs:
  build-ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - run: sudo apt-get update
      - run: sudo apt install -y build-essential cmake libsdl2-dev
      - run: npm ci
      - name: Check with eslint
        run: npm run eslint

  build-brew:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - run: sudo apt-get update
      - run: sudo apt install -y build-essential cmake git
      - run: /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
      - name: Install SDL2 with brew
        run: /home/linuxbrew/.linuxbrew/bin/brew install sdl2
      - name: Compile
        run: npm ci

  build-mac:
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install SDL2 with brew
        run: brew install sdl2
      - name: Compile
        run: npm ci

  check-cpplint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - run: sudo apt-get update
      - run: sudo apt install -y cppcheck
      - name: Install cpplint
        run: pip install cpplint
      - name: Lint
        run: cpplint src/*
      - name: Check
        run: cppcheck --std=c++17 --language=c++ src/*

  check-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: check format
        run: clang-format -n src/*  |& tee errors
      - run: test ! -s errors
