# This workflow will test pull request on different platforms

name: Build PR
on: [pull_request]

jobs:
  build-ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt install -y build-essential cmake libsdl2-dev
      - name: Compile
        run: npm ci
      - name: Check with eslint
        run: npm run lint

  build-brew:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt install -y build-essential cmake libsdl2-dev
      - name: Install Homebrew
        run: /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
      - name: Install SDL2 with brew
        run: /home/linuxbrew/.linuxbrew/bin/brew install sdl2
      - name: Compile
        run: npm ci

  build-mac:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
      - name: Install SDL2 with brew
        run: brew install sdl2
      - name: Compile
        run: npm ci

  check-cpplint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13.5'
      - name: Install cppcheck
        run: | 
          sudo apt-get update
          sudo apt install -y cppcheck
      - name: Check
        run: cppcheck --std=c++17 --language=c++ src/*
      - name: Install cpplint
        run: pip install cpplint
      - name: Lint
        run: cpplint src/*

  check-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: check format
        run: clang-format -n src/*  |& tee errors
      - name: check for errors
        run: test ! -s errors

  build-package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt install -y build-essential cmake libsdl2-dev
      - name: Verify packed files
        run: |
          npm ci
          npm run build
          ./test/verify-packed-files.sh
